* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #444444;
    color: azure;
}

#Main {
    width: 960px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;  
}
header {
    height: 150px;
    background: black;
}

header h1 {
    font-size: 50px;
    text-align: center;
    line-height: 150px;
}

nav {
    background: orange;
    height: 60px;
}

nav h2 {
    font-size: 40px;
    text-align: center;
    line-height: 60px;
}

#test1 {
    width: 700px;
    height: 500px;
    float: left;
    background: silver;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

#test1 h2 {
    font-size: 40px;
    text-align: center;
    line-height: 500px;

}

aside {
    width: 250px;
    height: 500px;
    background: skyblue;
    margin-top: 10px;
    float: right;
}

aside h2 {
    font-size: 40px;
    text-align: center;
    line-height: 500px;  
}


footer  {
    background: slategray;
    clear: both;

}

footer h2 {
    font-size: 40px;
    text-align: center; 
    padding: 20px;
    font-style: italic;
}
